{% extends "base.html" %}

{% block content %}
<div class="row" style="padding: 15px">
    <div class="col" style="border-right:black;border-right-style: solid ; border-right-width: 3px">
        <h1>Sign In</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    </div>
    <div class="col">
        <h1>New User?</h1>
        <p>Sign up <a href="{{ url_for('register') }}">Click to Register!</a></p>
</div>
</div>

</div>
{% endblock %}